<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <div class="social-links">
          {%- include social.html -%}
        </div>
      </div>
      <div class="footer-col">
        <p>&copy; {{ site.time | date: '%Y' }} | {{ site.author.name }} {{ site.description | escape }}</p>
      </div>
    </div>

    <script type="module">
    import Percept from "https://unpkg.com/@perceptinsight/percept-js?module";
    Percept.init("2311e5439e61504185e977543ead9da0b312a380c453a7ebba4eef3efbae00b4")
    </script>

  </div>

</footer>