@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans serif;
}

.site-title, .home-strapline, h1, h2, h3, h4 {
	font-family: Inter, Helvetica Neue, Helvetica, Arial, sans serif;
}

p, li, quote {
	font-size: 0.9rem;
}

.post-title {
	font-size: 1.8rem;
}

.home-strapline {
	display: block;
	font-size: 8.9rem;
	font-weight: 700;
	line-height: 0.75em;
	padding-bottom: 0.4em;
}

.page .home-strapline {
	color: rgba(0,0,0,0.86);
}


h2 {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.1em;
}

.site-title {
	font-weight: 700;

}
.site-header {
	border-top: none;
}

.post-list-heading {
	padding-top: 24px;	
}

.post-list {
	display: flex;
	flex-wrap: wrap;
}

.post-list > li {
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 214px;
	padding: 16px;
	margin-bottom: 18px;
	margin-right: 18px;
	padding-bottom: 24px;
}

.post-list > li h3 {
	line-height: 1.6em;
	padding-top: 12px;
}

.post-list > li h4 {
	margin-top: 12px;
	margin-bottom: 8px;
	line-height: 1.4em;
}

.social-media-list {
	display: block;
}

.footer-col p {
	font-size: 0.86em;
}

@media screen and (max-width: 850px) {
	.home-strapline {
		font-size: 5rem;
	}
	.post-list > li {
		width: 180px;
	}
}

@media screen and (max-width: 600px) {
	.home-strapline {
		font-size: 3.7rem;
		line-height: 0.86em;
	}
	.post-list > li {
		width: 100%;
		margin-right: 0;
	}
	.footer-col {
		display: flex;
	}
	.footer-col p {
		font-size: 0.75em;
	}
}

@media screen and (max-width: 420px) {
	.home-strapline {
		font-size: 3.1rem;
		line-height: 0.82em;
	}
}