
body {
	font-family: Roboto, Open Sans, Helvetica Neue, Helvetica, Arial, sans serif;
}

p, li, quote {
	font-size: 0.9rem;
}

.post-title {
	font-size: 1.8rem;
}

h2 {
	font-weight: 900;
	font-size: 1.4rem;
}

.site-title {
	font-weight: 900;

}
.site-header {
	border-top: none;
}

.social-media-list {
	display: block;
}

